<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  

<style>
  body {
    background-color: ;
  }
  
  .hi {
    font-family: cambria;
    padding: 10px;

  }
  
  .hey{
    font-family: cambria;
    padding: 10px;

  }
  
  .yo {
    padding: 10px;
    width: 200px;
    height: 200px;
  }
   body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  
  .brand-logo{
    font-family: cambria;
  }
</style>

</head>
<body>
  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <a href="/" class="brand-logo">Home</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class-"hey" href="/about">About App</a></li>
        <li><a class-"hey" href="/portfolio">Portfolio</a></li>
        <li><a class-"hey"href="/contact">Contact Us</a></li>
      </ul>
    </div>
  </nav>
  <h1 class="hi">Artist</h1>
  <% var artist = data.artists.items[0] %>
  <% console.log(Object.keys(artist.followers)) %>
    <div>
      <h2 class="hi">Name: <%= artist.name %></h2>
      <p class="hey">Followers: <%= artist.followers.total %></p>
      <p class="hey">Popularity: <%= artist.popularity %></p>
      <img class="yo" src="<%= artist.images[0].url %>"/>
    </div>  
    <!--external_urls,followers,genres,href,id,images,name,popularity,type,uri -->
     <footer class="page-footer blue-grey darken-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Extra</h5>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <p class= "hey">These are apps where you can listen to music!</p>
                <ul>
                  <li><a class="hey grey-text text-lighten-3" href="https://www.youtube.com/">Youtube</a></li>
                  <li><a class="hey grey-text text-lighten-3" href="https://www.pandora.com/">Pandora</a></li>
                  <li><a class="hey grey-text text-lighten-3" href="https://www.spotify.com/">Spotify</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2018 Copyright Text
            </div>
          </div>
        </footer>
</body>